:root {
    --color-light-50: #F0EDEE;
    --color-light-100: #F0EDEE98;

    --color-dark-800: #0A090C;

    --color-green-50: #07393CE6;
    --color-green-100: #07393C;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color-green-100);
}


header {
    background-color: var(--color-green-50);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 15vh;
    padding: 20px;
    z-index: 10;
}
#btn-close, .menu {
    display: none;
}

.menu {
    background-color: var(--color-green-50);
    position: fixed;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 60vw;
    height: 85vh;
    top: 15vh;
    right: 0;
}

.menu li {
    list-style: none;
    max-width: 60vw;
    font-size: 1.3em;
}

.menu a, #about h1, .contentTitle, #projects button, #contact a, .back a, footer h2, footer a {
    color: var(--color-light-50);
}


.contentTitle {
    margin-bottom: 1vh;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.aboutImg {
    width: 100vw;
    height: 48vh;
    margin-top: 12vh;
    animation: scale-up-center 2s;
}

#about div {
    width: 60vw;
}

#about h2 {
    color: var(--color-light-100);
}

#about h1, #about h2 {
    animation: appear 2s;
    font-size: 1.5em;
}

#about h1 {
    text-align: center;
}

#about section {
    padding: 1vh 0 0 0;
}


#projects {
    z-index: auto;
}

#projects, #knowledge, #contact {
    margin-top: 16vh;
}

#projects, .btns-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns-projects {
    flex-direction: row;
}

#projects a {
    margin-top: 20vh;
}

#projects button, #contact button {
    background-color: var(--color-dark-800);
    color: var(--color-light-50);
    width: 40vw;
    height: 8vh;
    margin-top: 1vh;
    border: 2px solid var(--color-dark-800);
    border-radius: 15px;
    transition: 0.3s;
}

#projects button {
    width: 25vw;
    margin: 0 1vw;
}

#projects button:hover, #contact button:hover {
    background-color: var(--color-light-100);
    color: var(--color-dark-800);
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 3px;
}

.galery-container, .galery-filho {
    width: 100%;
}

.galery-neto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.galery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
    width: 60vw;
    min-height: 40vh;
    padding: 20px;
    margin-top: 4vh;
    border-radius: 15px;
    transition: 0.4s;
}

.galery-image:hover {
    border-radius: 15px;
    transform: scale(1.1);
}

#projectOne, #projectTwo, #projectThree, #projectFour, #projectFive, #projectSix {
    background-image: url("../imagens/oishi.png");
    background-repeat: no-repeat;
    background-position: top, center;
}

#projectTwo {
    background-image: url("../imagens/mario.png");
}

#projectThree {
    background-image: url("../imagens/lampada.png");
}

#projectFour {
    background-image: url("../imagens/calculadora.png");
}

#projectFive {
    background-image: url("../imagens/super-pizza.png");
}

#projectSix {
    background-image: url("../imagens/cep.png");
}


#knowledge {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


#contact, #contact section, #contact section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#contact img {
    width: 47vw;
    min-height: 20vh;
    margin-top: -4px;
    border-radius: 50%;
}

#contact p {
    font-size: 1.5em;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2vh 0 1vh 0;
    font-size: 0.7em;
}


@media (min-width: 768px) {
    #btn-menu, #btn-close, #btns-pjctOne, #btns-pjctTwo, #btns-pjctThree, #btns-pjctFour, #btns-pjctFive, #btns-pjctSix {
        display: none;
    }

    body, .menu, .menu.scrolled {
        background: linear-gradient(90deg, #0A090C, #07393c, #0A090C);
    }

    header {
        background-color: inherit;
    }

    .menu {
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 100vw;
        height: 15vh;
        top: 0;
        transition: 0.4s;
    }

    .menu.ativo {
        height: 5vh;
    }

    .menu li a, .back a, #about section svg {
        transition: 0.3s;
    }

    .menu li a:hover, .back a:hover {
        color: var(--color-light-100);
        box-shadow: 0 2px var(--color-light-100);
    }

    #about {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    
    .aboutImg {
        width: 98vw;
    }

    #about section {
        margin-top: 4vh;
    }

    #about section a {
        padding: 0 2vw;
    }
    
    #about section svg {
        width: 60px;
        height: 60px;
    }

    #about section svg:hover {
        fill: var(--color-light-100);
        transform: scale(1.2);
    }

    #projects button {
        width: 10vw;
    }

    .galery-container, .galery-filho {
        width: 100%;
    }

    .galery-neto {
        flex-direction: row;
    }

    .galery-image {
        flex: 25%;
        width: 20vw;
        min-height: 40vh;
        margin: 3vh 3vw 3vh 3vw;
    }

    #knowledge section {
        max-width: 85vw;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #contact section {
        flex-direction: row;
    }
       
    #contact section img {
        width: 20vw;
        min-height: 10vh;
        border-radius: 50%;
    }
    
    #contact section div {
       margin-left: 2vw;
    }
}


@-webkit-keyframes scale-up-center {
   0% {
       -webkit-transform: scale(0.5);
               transform: scale(0.5);
   }
       
   100% {
         -webkit-transform: scale(1);
                 transform: scale(1);
   }
}

@keyframes scale-up-center {
   0% {
       -webkit-transform: scale(0.5);
               transform: scale(0.5);
   }
       
   100% {
       -webkit-transform: scale(1);
               transform: scale(1);
   }
}


@keyframes appear {
   0% {
       opacity: 0;
   }

   100% {
       opacity: 100;
   }
}


@media (prefers-reduced-motion: no-preference) {
   html {
       scroll-behavior: smooth;
   }
   
   :target {
       scroll-margin-top: .8em;
   }
}


a::selection, img::selection, h2::selection, h1::selection, button::selection, p::selection {
   color: var(--color-light-50);
   background-color: var(--color-dark-800);
}


*::-webkit-scrollbar {
   width: 20px;
   width: 20px;
   background-color: var(--color-dark-800);
}

*::-webkit-scrollbar-thumb {
   border-radius: 20px;
   background-color: var(--color-dark-800);
}
 
*::-webkit-scrollbar-thumb:hover {
   background-color: var(--color-light-50);
}
 
*::-webkit-scrollbar-thumb:active {
   background-color: var(--color-light-50);
}